/* *{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
} */
.body{
    font-family: 'DM Sans', sans-serif;
}
  

.container{
    max-width: 1070px;
    margin: 0 auto;
    /* display: flex; */
}
.header-flex,.footer-flex,.about,.subscribe,.box_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header,.footer{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}
.nav_li{
    display: inline-block;
}   
.nav_li:not(first-of-type){
    margin-left: 49px;
}
.nav_link,footer{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}
.nav_link:hover{
    color: black;
    transition: 400ms;
}
.button{
    width: 212px;
    height: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.buttom_orange{
    background: #FF7143;
}
.buttom_orange:hover{
    background: #e76033;
    transition: 400ms ;
}
.about_title{
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;   
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 476px;
    margin-bottom: 30px;
}
.about{
    margin: 105px auto 85px;
}
.about_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 410px;
    margin-bottom: 50px;

}
.button_purple{
    background: #5454D4;
}
.button_transparent{
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}
.button_transparent:hover{
    transition: 400ms;
    cursor: pointer;
}
.button_purple:hover{
    transition: 400ms;
    cursor: pointer;
}
.footer{
    padding: 53px 0;
}

.h2_section2{
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
    margin-bottom: 38px;
}

.input{
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
    margin-right: 39px;
    padding-left: 14px;
}

.input::placeholder,.input{
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;
}
.input:focus{
outline: none;
}

.box{
    margin-bottom: 132px;
}
.box_title{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    max-width: 504px;
    margin-bottom: 110px;
    margin-top: 85px;
}

.item_box{
    width: 330px;
    background: #F8F8F8;
    border-radius: 10px;
    text-align: center;
    padding: 34px 0 27px;
}
.item_box:hover{
    transition: 400ms;
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}
.item_p_box{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.562737px;
    color: #696871;
    margin-bottom: 22px;
}
.item_box:hover .item_p_box, .item_box:hover .item_h3_box {
    color: white;
    transition: 400ms;
}
.item_h3_box{
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -1.03448px;
    color: #1D293F;
    margin: 22px 0 28px;
}

.item_h3_box span{
    font-size: 28px;
}

.item_li_box{
    list-style: none;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.531474px;
    color: #696871;
}
.button_item{
    width:285px;
    color: #5454D4;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    margin-top: 36px;
} 
.item_box:hover .button_item{
    background: #9F3919;
    color: #FFFFFF;
    transition: 400ms;
}